.left{
	float:left;
}

.right{
	float:right;
}

.clear{
	clear:both;
}

#wrapper{
	height: 650px;
	width: 775px;
}

#login{
	background-color: #0091D1;
	border-radius: 5px;
	color: white;
}

#credit{
	font-size: 10px;
	padding-left: 30px;
}

#schedule{
	background-color: #0097D7;
	border-radius: 5px;
	color: white;
	width:180px;
	height:25px;
}
#trial{
	background-color: #EA5000;
	border-radius: 5px;
	color: white;
	width:180px;
	height:25px;
	margin-top: 3px;
	background: linear-gradient(to bottom, #FF9D38, #DF4206);

}
#started{
	background-color: #005785;
	border-radius: 5px;
	color: white;
	margin-left: 20px;
}

#today{
	background-color: #9DBB31;
	border-radius: 5px;
	color: white;
	background: linear-gradient(to bottom, #C7DB76,#91B02F,#C1D33E);
	border: 1 px solid #648444;
	height: 30px;
	width:150px;
	margin: 20px 0px 2px 77px;
}

#top { 
	height: 105px;
	width: 775px;
}

#top ul li{
	display: inline;
}

#number .small{
	color: gray;
	font-size: 10px;
}

#number p{
	color:#0DB3E3;
}

#topr{
	background-color: #E8E8E8;
	font-size: 12px;
	border-radius: 5px;
	width: 390px;
	height: 30px;

}

#greater{
	color: #D5D4D4;
}

#houses{
	margin: 10px 5px 0px 0px;
}
#PPC{
	color: #3B7596;
	margin-left: 10px;
}

#p{
	display: inline;
}

#topr a {
	color: #A4A3A1;
	text-decoration: none;
}

#logo{
	height: 30px;
	width: 60px;
	padding:13px 7px;
}

#stream{
	color: #0083AE;
	font-size: 30px;
}

#word {
	color: #818183;
	font-size: 30px;
	display: inline;
	margin-top: 30px;
}

#blue_bar{
	background-color: #007DB8;
	height: 45px;
	width: 775px;
}

#marg{
	padding-left: 15px;
}

#blue_bar p{ 
	color: white;
	font-size: 20px;
	padding: 9px;
}

#leftside{
	height: 460px;
	width: 190px;
	padding: 30px 10px;
}

#gets a{
	text-decoration: none;
	color: #5CA2C0;
}

#gets{
	font-size: 12px;
}

#grey{
	background-color: #E3E3E3;
	padding-top: 5px; 
	background: linear-gradient(to bottom, #CDCDCD, #FDFDFD);
	margin-top: 10px;
}

#get{
	color: #686868;
	font-size: 14px;
}
#ruler{
	height: 70px;
	width: 190px;
}

#content{
	height: 460px;
	width: 550px;
}

#free{
	font-size: 14px;
	height:50px;
	width:450px;

}

#try{
	margin:0px;
}
#phone{
	border-bottom:2px solid #EDEDED;
	height:60px;
	width: 530px black;
	margin-top: 3px;

}

#phone p{
	margin: 0px;
}

#flag{
	border:5px solid #88BCD8;
	height:140px;
	width: 530px
}

.emphasis{
	font-weight: bold;
}

.edit{
	font-size: 12px;
}
h1{
	color:#2976AF;
	font-size: 18px;
}

h2{
	color:#5CA2C0;
	font-size: 16px;
}

h3{
	color:#E36F62;
	font-size: 12px;
}

h4{
	color:#166EA1;
	font-size: 12px;
}
